/* Empty. Add your own CSS if you like */
.ori_price {
	text-decoration: line-through;
}

.now_price {
	font-size: 150% !important;
}

.row.noPadding {
	padding: 0;
}

.row.avatars {
	display: inline-block;
}

.col.noPadding {
	padding: 0;
}

.col.sidePadding {
	padding-top: 0;
	padding-bottom: 0;
}

.item.noBorder {
	border-width: 0;
}

.item.noPadding {
	padding: 0;
}

.progress {
	height: 1em;
	margin-bottom: 2px;
}

.progress i {
	line-height: 1em;
}

.progress-bar {
	transition: width 1s ease-in-out;
}

.progress-bar-success {
	background-color: #ee385d;
}

.label-row {
	margin: 0px;
	padding: 0px;
}

a:hover,a:focus {
	color: inherit;
	text-decoration: none;
}

.tabs-striped.tabs-stable .tab-item.activated,.tabs-striped.tabs-stable .tab-item.active,.tabs-striped.tabs-stable .tab-item.tab-item-active
	{
	margin-top: -2px;
	color: #ee385d;
	border-style: solid;
	border-width: 2px 0 0 0;
	border-color: #ee385d;
}

.tabs-stable>.tabs, .tabs.tabs-stable {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg,#b2b2b2,#b2b2b2 50%,transparent 50%);
    color: #ee385d;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 44px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader, .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 44px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
    margin-top: 0px;
}

button img {
    vertical-align: middle;
}

.item-text-wrap p img {
	max-width: 100% !important;
}

.scroll-content {
	background-color: #ebebeb;
}

.item-logo-center {
    padding-right: 120px;
    min-height: 55px;
}

.item-logo-center>img:first-child {
    position: absolute;
    top: 6px;
    max-width: 100px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.button-sqr {
    padding: 2px 4px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 1px;
    width:100%; 
}

.button-sqr-sm {
	float: right;
    padding: 1px 10px;
    min-height: 22px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 1px;
}

.homebar {
	margin: auto;
	height: 100%;
	font-size: 80%;
}

.center-avatar>img:first-child {
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.center-avatar.margin>img:first-child {
	margin: 6px;
}

.item-select-full select {
    max-width: 100%;
}

.button.backBtn {
	width: 25%;
}

.button.submitBtn {
	width: 73%;
}

.button.cartBtn {
	width: 36%;
}
.button.buyBtn {
	width: 36%;
}

.button.button-assertive {
    border-color: transparent;
    background-color: #ee385d;
    color: #fff;
    line-height: 33px;
}

.button.button-assertive.button-outline {
	border-color: #ee385d;
	background: transparent;
	color: #ee385d;
    line-height: 33px;
}

.button.button-assertive.button-outline.active,.button.button-assertive.button-outline.activated
	{
	background-color: #ee385d;
	box-shadow: none;
	color: #fff;
}

.assertive, a.assertive {
    color: #ee385d;
}

.button.button-assertive.active,.button.button-assertive.activated {
	background-color: #e0133d;
}

.item-progress{
	font-size: 90%;
	border: 0px;
	top: -10px;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 52px
}

.item-progress>img:first-child {
	top: 6px;
}

.item-note-progress {
    float: left;
    width: 100%;
    color: #aaa;
    font-size: 12px;
}

.overlay {
	position: absolute;
	background-color: gray;
	opacity: 0.3;
	z-index: 100;
	height: 100%;
	width: 100%;
}

.qcode img {
	width: 100%;
}

.error {
	margin: 30px 0px 10px;
}

.error img {
	width: 100%;
}

.bar.bar-assertive {
    border-color: #e42112;
    background-color: #ee385d;
    background-image: linear-gradient(0deg,#e42112,#e42112 50%,transparent 50%);
    color: #fff;
	position: relative;
}

.item-body.cart{
	padding: 1px 16px;
}

.item.noBorder.cart {
	padding-bottom: 8px;
}

.col.cart span {
	vertical-align: middle;
}

.row.cart {
	padding: 0px 5px;
}

.item-thumbnail>img {
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.img-sticker {
	position: absolute;
	text-align: right;
	width: 100%;
	z-index: 1000;
	right: 20px;
}

.img-sticker img {
	width: auto !important;
}

/* countdown */
.clock{
	position: absolute;
	padding: 8px;
	z-index: 1;
}

.clock > span{
	width: 25px;
	max-width: 25px;
	font: bold 16px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 5px;
	padding: 4px 0;
	display: inline-block;
	position: relative;
}

.clock > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 44%; left: 0;
}

/* countdown end*/

.item.item-text-wrap.transparent {
	background: transparent;
	border-color: transparent;
	margin-top: 100px;
}

.modal.transparent {
	background: transparent;
}

.modal.transparent>.scroll-content {
	background: transparent;
}

.coupon-pop span {
	color: #ee385d
}

.coupon-pop img {
	width: 100%;
}

.coupon-pop-value {
	position: relative;
    top: -42vw;
    left: -13vw;
	font-size: 9vw;
}

.coupon-pop-date {
	position: relative;
	top: -37vw;
	left: 9.5vw;
	font-size: 3.5vw;
}

.coupon-btn {    
	position: relative;
    width: 30vw;
    height: 10vw;
    top: -24vw;
    left: 31vw;
}

.coupon_rule_desc {
	font-size: 0.5em;
	color: lightcyan;
}

.coupon_name {
	font-weight: bold;
}

.coupon_value {
	font-size: 3em;
}

.coupon_status {
	font-size: 1.2em;
	font-weight: bold;
}

/* coupon start*/
.stamp {
	width: 387px;
	height: 110px;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

.stamp:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
	right: 10px;
	z-index: -1;
}

.stamp:after {
	content: '';
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
	z-index: -2;
}

.stamp i {
	position: absolute;
	left: 20%;
	top: 45px;
	height: 190px;
	width: 390px;
	background-color: rgba(255, 255, 255, .15);
	transform: rotate(-30deg);
}

.stamp .par {
	float: left;
	padding: 16px 15px;
	width: 220px;
	border-right: 2px dashed rgba(255, 255, 255, .3);
	text-align: left;
}

.stamp .par p {
	color: #fff;
}

.stamp .par span {
	font-size: 40px;
	color: #fff;
	margin-right: 5px;
}

.stamp .par .sign {
	font-size: 34px;
}

.stamp .par sub {
	position: relative;
	top: 0px;
	color: rgba(255, 255, 255, .8);
}

.stamp .copy {
	display: inline-block;
	padding: 21px 14px;
	vertical-align: text-bottom;
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.stamp .copy p {
	font-size: 13px;
	margin-top: 15px;
}

.stamp01 {
	background: #F39B00;
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px,
		#F39B00 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
}

.stamp01:before {
	background-color: #F39B00;
}

.stamp02 {
	background: #D24161;
	background: radial-gradient(transparent 0, transparent 5px, #D24161 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
}

.stamp02:before {
	background-color: #D24161;
}

.card.coupon, .list-inset {
	background-color: transparent;
}

/* coupon end*/
