/* Empty. Add your own CSS if you like */
.ori_price {
	text-decoration: line-through;
}

.now_price {
	font-size: 150% !important;
}

.row.noPadding {
	padding: 0;
}

.col.noPadding {
	padding: 0;
}

.col.sidePadding {
	padding-top: 0;
	padding-bottom: 0;
}

.item.noBorder {
	border-width: 0;
}

.item.noPadding {
	padding: 0;
}

.progress {
	height: 1em;
	margin-bottom: 2px;
}

.progress i {
	line-height: 1em;
}

.progress-bar {
	transition: width 1s ease-in-out;
}

.progress-bar-success {
	background-color: #ee385d;
}

.label-row {
	margin: 0px;
	padding: 0px;
}

a:hover,a:focus {
	color: inherit;
	text-decoration: none;
}

.tabs-striped.tabs-stable .tab-item.activated,.tabs-striped.tabs-stable .tab-item.active,.tabs-striped.tabs-stable .tab-item.tab-item-active
	{
	margin-top: -2px;
	color: #ee385d;
	border-style: solid;
	border-width: 2px 0 0 0;
	border-color: #ee385d;
}

.tabs-stable>.tabs, .tabs.tabs-stable {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg,#b2b2b2,#b2b2b2 50%,transparent 50%);
    color: #ee385d;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 44px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader, .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 44px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
    margin-top: 0px;
}

button img {
    vertical-align: middle;
}

.item-text-wrap p img {
	max-width: 100% !important;
}

.scroll-content {
	background-color: #ebebeb;
}

.item-logo-center {
    padding-right: 120px;
    min-height: 55px;
}

.item-logo-center>img:first-child {
    position: absolute;
    top: 6px;
    max-width: 100px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.button-sqr {
    padding: 2px 4px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 1px;
    width:100%; 
}

.button-sqr-sm {
	float: right;
    padding: 1px 10px;
    min-height: 22px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 1px;
}

.homebar {
	margin: auto;
	height: 100%;
	font-size: 80%;
}

.center-avatar>img:first-child {
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.center-avatar.margin>img:first-child {
	margin: 6px;
}

.item-select-full select {
    max-width: 100%;
}

.button.backBtn {
	width: 25%;
}

.button.submitBtn {
	width: 73%;
}

.button.button-assertive {
    border-color: transparent;
    background-color: #ee385d;
    color: #fff;
}

.assertive, a.assertive {
    color: #ee385d;
}

.button.button-assertive.active,.button.button-assertive.activated {
	background-color: #e0133d;
}