<ion-view view-title="{{orderItem.name}}" hide-nav-bar="true">
	<ion-nav-bar class="bar-dark">
		<ion-nav-back-button>
			返回
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<div class="item item-divider">
		  收货信息
		</div>
		<div ng-if="userContacts.length>0">
			<label class="item item-select item-select-full">
				<select ng-model="selectedUserContact.contactId" ng-change="changeUserContact()" ng-options="uc.contactId as uc.summary for uc in userContacts" >
			    	<option value="">选择其他已保存收货信息</option>
			    </select>
		    </label>
		</div>
		
		<div>
			<input type="hidden" ng-model="userContact.contactId">
			<label class="item item-input">
				<input type="text" placeholder="收货人姓名" ng-model="userContact.contactName">
			</label>
			<label class="item item-input">
				<input type="tel" placeholder="收货人手机" ng-model="userContact.contactMobile">
			</label>
			<label class="item item-input item-select">
			    <div class="input-label">
			      省
			    </div>
			    <select ng-model="userContact.province" ng-change="calcTotalPrice();userContact.city=''" ng-options="province.locationValue for province in provinces" >
					<!-- option ng-repeat="province in provinces" value="{{province}}">{{province.locationValue}}</option -->
			    </select>
			</label>
			<label class="item item-input item-select">
			    <div class="input-label">
			      市
			    </div>
			    <select ng-model="userContact.city" ng-change="userContact.district=''" ng-options="city.locationValue for city in userContact.province.children" >
			    </select>
			</label>
			<label class="item item-input item-select">
			    <div class="input-label">
			      区
			    </div>
			    <select ng-model="userContact.district" ng-options="district.locationValue for district in userContact.city.children" >
			    </select>
			</label>
		</div>
		
		<label class="item item-input">
			<input type="text" placeholder="详细地址" ng-model="userContact.address1">
		</label>
		<div class="item item-divider">
		  购买详情
		</div>
		<div class="item item-body">
			<div class="item noBorder item-body cart" ng-repeat="cartItem in cartItems">
				<div class="item noBorder item-thumbnail-left cart">
					<img ng-src="{{cartItem.imgUrl4List}}">
					<h3>{{cartItem.name}}</h3>
				</div>
				<div class="row cart">
					<div class="col cart" ng-if="cartItem.productStatus!=2||cartItem.stock<=0">
						<span>产品售罄或已过期</span>
					</div>
					<div class="col cart" ng-if="cartItem.productStatus==2&&cartItem.stock>0">
						<span class="assertive">{{cartItem.currentPrice*cartItem.quantity}}元</span>
					</div>
					<div class="col text-right cart">		
						<div class="buttons">
							<button class="button button-small button-stable" ng-click="remove4Cart(cartItem.cartId)" ng-if="cartItem.productStatus==2&&cartItem.stock>0">
								<i class="icon ion-minus"></i>
							</button>
							&nbsp;<span ng-if="cartItem.productStatus==2&&cartItem.stock>0">{{cartItem.quantity}}</span>&nbsp;
							<button class="button button-small button-stable" ng-click="add4Cart(cartItem.cartId)" ng-if="cartItem.productStatus==2&&cartItem.stock>0">
								<i class="icon ion-plus"></i>
							</button>
							&nbsp;&nbsp;
							<button class="button button-small button-stable" ng-click="del4Cart(cartItem.cartId)">
								<i class="icon ion-trash-a"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">邮费</div>
				<div class="col text-right assertive">{{order.postFee}}元</div>
			</div>
			<div class="row" ng-show="freeShipNeed>0">
				<div class="col">还差<span class="assertive">{{freeShipNeed.toFixed(2)}}</span>元包邮</div>
			</div>
			<p>
				提示：如果截止日期前商品价格被打得更低，我们将向您返还差额。
			</p>
			<label class="item item-input">
				<input type="text" placeholder="订单备注" ng-model="order.userComments">
			</label>
			<p>
				<input type="checkbox" ng-model="userAgree.checked" checked/>&nbsp;我已阅读并同意打价网用户协议&nbsp;(<a ng-click="openUserAgreeModal();">点击显示详情</a>)
			</p>
		</div>
		<div class="item item-divider">
		  支付方式
		</div>
		<ion-radio name="paymentRadio" ng-model="order.payType" ng-value="1">微信支付</ion-radio>
		<ion-radio name="paymentRadio" ng-model="order.payType" ng-value="2" ng-click="selectAlipay()">支付宝</ion-radio>
		<div class="item item-divider" ng-show="userCoupons.length>0">
		  优惠券
		</div>
		<ion-radio ng-repeat="userCoupon in userCoupons" ng-click="applyCoupon(userCoupon)" name="couponRadio">
			<i class="icon ion-ios-pricetags"></i>&nbsp;&nbsp;{{userCoupon.displayInfo}}</ion-radio>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
		<div class="row noPadding">
			<div class="col text-left">合计金额：<span class="assertive">{{(order.totalPrice-couponVal/100).toFixed(2)}}元</span></div>
			<div class="col noPadding text-right">
				<button class="button button-sqr button-assertive" ng-click="submit()">确认付款</button>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>