<ion-view view-title="购物车" hide-nav-bar="true">
  <ion-nav-bar class="bar-dark">
	<ion-nav-back-button>
		返回
	</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
	<div class="item item-logo-center" align="center">
		<img src="/app/img/logo-banner.png">
	</div>
  	<ion-refresher ng-if="loginUser" on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="刷新中..." refreshing-icon="ion-loading-b">
  	</ion-refresher> 
    <ion-list ng-if="loginUser">
      <div class="item item-body cart" ng-repeat="cartItem in cartItems">
			<div class="item noBorder item-thumbnail-left cart">
				<img ng-src="{{cartItem.imgUrl4List}}">
				<h3>{{cartItem.name}}</h3>
			</div>
			<div class="row cart">
				<div class="col cart" ng-if="cartItem.productStatus!=2||cartItem.stock<=0">
					<span>产品售罄或已过期</span>
				</div>
				<div class="col cart" ng-if="cartItem.productStatus==2&&cartItem.stock>0">
					<span class="assertive">{{cartItem.currentPrice*cartItem.quantity}}元</span>
				</div>
				<div class="col text-right cart">		
					<div class="buttons">
						<button class="button button-small button-stable" ng-click="remove(cartItem.cartId)" ng-if="cartItem.productStatus==2&&cartItem.stock>0">
							<i class="icon ion-minus"></i>
						</button>
						&nbsp;<span ng-if="cartItem.productStatus==2&&cartItem.stock>0">{{cartItem.quantity}}</span>&nbsp;
						<button class="button button-small button-stable" ng-click="add(cartItem.cartId)" ng-if="cartItem.productStatus==2&&cartItem.stock>0">
							<i class="icon ion-plus"></i>
						</button>
						&nbsp;&nbsp;
						<button class="button button-small button-stable" ng-click="del(cartItem.cartId)">
							<i class="icon ion-trash-a"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
    </ion-list>
    
    <div ng-if="cartItems.length==0">
    	<div class="row">
			<div class="col text-center">
				购物车是空的，先去逛逛吧
			</div>
		</div>
	    <div class="row">
			<div class="col text-center">
				<button class="button button-outline button-assertive" ng-click="goHome()">去逛逛</button>
			</div>
		</div>
    </div>
    <div ng-if="loginUser==null">
	    <div class="row">
			<div class="col text-center">
				请立即登录系统，查看自己的购物车
			</div>
		</div>
	    <div class="row">
			<div class="col text-center">
				<button class="button button-outline button-assertive" ng-click="login()">立即登录</button>
			</div>
		</div>
    </div>
  </ion-content>
	<ion-footer-bar ng-if="loginUser" align-title="left" class="bar-stable" ng-show="cartItems.length>0">
		<div class="row noPadding">
			<div class="col text-left">合计：<span class="assertive">{{cart.totalPrice.toFixed(2)}}元</span></div>
			<div class="col text-left" ng-show="cart.freeShipNeed>0">还差<span class="assertive">{{cart.freeShipNeed.toFixed(2)}}</span>元包邮</div>
			<div class="col noPadding text-right">
				<button class="button button-sqr button-assertive" ng-click="submit()">去结算</button>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>
