<ion-view view-title="订单详情" hide-nav-bar="true">
	<ion-nav-bar class="bar-dark">
		<ion-nav-back-button>
			返回
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
  		<div class="card">
			<div class="item item-divider">
				#{{order.trackingId}}
			</div>
			<div class="item item-text-wrap">
				<p>订单状态：{{order.orderStatus4Show}}</p>
				<p>支付金额：{{order.totalPrice}}元</p>
			</div>
		</div>
  		<div class="card" ng-if="order.logisticTrackingId!=null">
		  <div class="item item-divider">
		    物流信息
		  </div>
		  <div class="item item-text-wrap">
		    <p>快递公司: {{order.logisticAgent4Show}}</p>
		    <p>快递单号: <a ng-href="{{checkLogisticUrl}}">{{order.logisticTrackingId}}</a></p>
		  </div>
		</div>
  		<div class="card">
		  <div class="item item-divider">
		    收货信息
		  </div>
		  <div class="item item-text-wrap">
		    <p>收货人: {{order.contactName}}</p>
		    <p>手机: {{order.contactMobile}}</p>
		    <p>收货地址: {{order.address}}</p>
		    <p>备注: {{order.userComments}}</p>
		  </div>
		</div>
  		<div class="card">
			<div class="item item-divider">
			  结算
			</div>
			<div class="item item-text-wrap">
				<p>商品总价：{{order.unitPrice*order.quantity}}元</p>
				<p>运费：<span ng-if="order.postFee==null">0</span>{{order.postFee}}元</p>
				<p>打价退款：{{order.refundValue.toFixed(2)}}元</p>
				<p>推荐奖励：{{order.rewardValue.toFixed(2)}}元 (同款产品只能享受一次推荐奖励)</p>
			</div>
		</div>
	</ion-content>
</ion-view>
