<ion-view view-title="订单#{{order.trackingId}}" hide-nav-bar="true">
	<ion-nav-bar class="bar-dark">
		<ion-nav-back-button>
			返回
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
  		<div class="card">
			<div class="item item-divider">
			  订单状态
			</div>
			<div class="item item-text-wrap">
			</div>
		</div>
  		<div class="card">
			<div class="item item-divider">
			  物流信息
			</div>
			<div class="item item-text-wrap">
			</div>
		</div>
  		<div class="card">
			<div class="item item-divider">
			  支付金额
			</div>
			<div class="item item-text-wrap">
			</div>
		</div>
  		<div class="card">
		  <div class="item item-divider">
		    收货信息
		  </div>
		  <div class="item item-text-wrap">
		    <p>收货人: {{order.contactName}}</p>
		    <p>手机: {{order.contactMobile}}</p>
		    <p>收货地址: {{order.address}}</p>
		  </div>
		</div>
  		<div class="card">
			<div class="item item-divider">
			  结算
			</div>
			<div class="item item-text-wrap">
			</div>
		</div>
	</ion-content>
</ion-view>
