<ion-view view-title="{{orderItem.name}} - 订单确认">
	<ion-nav-bar class="bar-dark">
		<ion-nav-back-button>
			返回
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<div class="item item-divider">
		  收货信息
		</div>
		<input type="hidden" ng-model="userContact.contactId">
		<label class="item item-input">
			<input type="text" placeholder="收货人姓名" ng-model="userContact.contactName">
		</label>
		<label class="item item-input">
			<input type="tel" placeholder="收货人手机" ng-model="userContact.contactMobile">
		</label>
		<label class="item item-input item-select">
		    <div class="input-label">
		      省
		    </div>
		    <select ng-model="userContact.province" ng-change="userContact.city=''" ng-options="province.locationValue for province in provinces" >
				<!-- option ng-repeat="province in provinces" value="{{province}}">{{province.locationValue}}</option -->
		    </select>
		</label>
		<label class="item item-input item-select">
		    <div class="input-label">
		      市
		    </div>
		    <select ng-model="userContact.city" ng-change="userContact.district=''" ng-options="city.locationValue for city in userContact.province.children" >
		    </select>
		</label>
		<label class="item item-input item-select">
		    <div class="input-label">
		      区
		    </div>
		    <select ng-model="userContact.district" ng-options="district.locationValue for district in userContact.city.children" >
		    </select>
		</label>
		
		<label class="item item-input">
			<input type="text" placeholder="详细地址" ng-model="userContact.address1">
		</label>
		<div class="item item-divider">
		  购买详情
		</div>
		<div class="item item-body">
			<div class="item noBorder item-thumbnail-left">
				<img ng-src={{orderItem.imgUrl}}>
				<h3>{{orderItem.name}}</h3>
			</div>
			<div class="row">
				<div class="col">购买数量</div>
				<div class="col text-right">		
					<div class="buttons">
						<button class="button button-small button-stable" ng-click="remove()">
							<i class="icon ion-minus"></i>
						</button>
						&nbsp;{{order.quantity}}&nbsp;
						<button class="button button-small button-stable" ng-click="add()">
							<i class="icon ion-plus"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">商品单价</div>
				<div class="col text-right assertive">￥{{orderItem.currentPrice}}</div>
			</div>
			<p>
				提示：如果截止日期前商品价格被打得更低，我们将向您返还差额。
			</p>
		</div>
		<div class="item item-divider">
		  支付方式
		</div>
		<ion-radio ng-model="choice" ng-value="'A'">微信支付</ion-radio>
		<ion-radio ng-model="choice" ng-value="'B'">支付宝</ion-radio>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
		<div class="row noPadding">
			<div class="col text-left">付款金额：<span class="assertive">￥{{order.totalPrice}}</span></div>
			<div class="col noPadding text-right">
				<button class="button button-small button-assertive" ng-click="submit()">确认付款</button>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>
