<ion-view view-title="修改密码"> 
<ion-nav-bar class="bar-assertive">
	<ion-nav-back-button>
		返回
	</ion-nav-back-button>
</ion-nav-bar>
<ion-content>
	<label class="item item-input">
		<input type="password" placeholder="输入旧密码" ng-model="form.oldPassword">
	</label>
	<label class="item item-input">
		<input type="password" placeholder="输入新密码" ng-model="form.newPassword">
	</label>
	<label class="item item-input">
		<input type="password" placeholder="再次输入新密码" ng-model="form.newPasswordConfirm">
	</label>
</ion-content>
<ion-footer-bar align-title="left" class="bar-stable">
	<div class="row noPadding">
		<div class="col noPadding text-right">
			<button class="button button-small button-assertive" ng-click="submit()">确认修改</button>
		</div>
	</div>
</ion-footer-bar>
</ion-view>
