<div class="modal transparent">
	<ion-content>
		<div class="item item-text-wrap transparent" align="center">
			<div class="col text-center">
		  		<div class="qrcode-pop" ng-click="closeQrcodeModal()">
		  			<div style="display:none;">
			  			<span class="assertive">{{product.name}}</span>
			  			<p></p>
			  			<b>现价 <span class="assertive now_price">{{product.currentPrice}}</span> 元</b>
						&nbsp;<span class="ori_price">{{product.originalPrice}} 元</span>
		  			</div>
		  			<div class="product-qrcode">
		  				<p>使用微信扫码进入打价网</p>
		  				<img ng-src="{{product.qrcodeUrl}}"></img>
		  			</div>
		  		</div>
			</div>
		</div>
	</ion-content>
</div>