<div class="modal transparent">
	<ion-header-bar>
		<button class="button button-icon icon ion-android-cancel" ng-click="closeQrcodeModal()"></button>
		<div class="h1 title">扫码进入微信打价网购买</div>
		</ion-header-bar>
	<ion-content>
		<div class="item item-text-wrap transparent" align="center">
			<div class="col text-center">
		  		<div class="qrcode-pop" ng-click="closeQrcodeModal()">
		  			<div style="display:none;">
			  			<span class="assertive">{{product.name}}</span>
			  			<p></p>
			  			<b>现价 <span class="assertive now_price">{{product.currentPrice}}</span> 元</b>
						&nbsp;<span class="ori_price">{{product.originalPrice}} 元</span>
		  			</div>
		  			<img class="product_qrcode" ng-src="{{product.qrcodeUrl}}"></img>
		  		</div>
			</div>
		</div>
	</ion-content>
</div>