<ion-view view-title="打价首页"> 
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-content>
  	<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="刷新中..." refreshing-icon="ion-loading-b">
  	</ion-refresher> 
		<div class="item item-logo-center" align="center">
			<img src="/app/img/logo-banner.png">
		</div>
	<div class="list card" ng-repeat="product in products">
	  <div class="item item-image">
	    <a href="#/tab/prod/{{product.productId}}"><img ng-src="{{product.imgUrl}}"></a>
	  </div>
	  <div class="row">
	  	<div class="col col-50 homebar">
	  		众打手已成功打下<span class="assertive"><b>{{product.priceOff}}</b></span>元!<br/>
	  		下一位打手即将打下<span class="assertive"><b>{{product.nextOff.toFixed(2)}}</b></span>元!
	  	</div>
	  	<div class="col homebar">
			<b>现价 <span class="assertive now_price">{{product.currentPrice}}</span> 元</b><br/>
			库存 {{product.stock}}
		</div>
	  	<div class="col homebar" align="center">
			<button class="button button-sqr button-assertive">
				我要打价
			</button>
		</div>
	  </div> 
	  <!-- <a class="item item-icon-right assertive" href="#/tab/prod/{{product.productId}}">
	    <i class="icon ion-arrow-graph-down-right"></i>
	    现在只要￥{{product.currentPrice}}（已打掉￥{{product.priceOff}}）
	  </a>-->
	</div>
  </ion-content>
</ion-view>
