<ion-view view-title="我的优惠券" hide-nav-bar="true">
	<ion-nav-bar class="bar-dark">
		<ion-nav-back-button>
			返回
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<div class="item item-logo-center" align="center">
			<img src="/app/img/logo-banner.png">
		</div>
		<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="刷新中..." refreshing-icon="ion-loading-b">
		</ion-refresher>
		<ion-list>
			<ion-item class="" ng-repeat="user_coupon in user_coupons" type="item-text-wrap">
				<!--<img ng-src="{{product.imgUrl4List}}" >-->
				<div class="coupon coupon_{{user_coupon.type}}_{{user_coupon.value}}" id="coupon_{{user_coupon.coupon_id}}">
					<span class="coupon_value">{{user_coupon.value}}</span>
					<span class="coupon_rate">元</span>
					<span class="coupon_name">
						<span class="coupon_area">{{DajiaGlobal["constants"]["coupon"]["area"][user_coupon.area]}}</span>
						<span class="coupon_type">{{DajiaGlobal["constants"]["coupon"]["type"][user_coupon.type]}}</span>
					</span>
					<span class="coupon_rule_desc">
						<span>{{user_coupon.ruleDesc}}</span>
					</span>

					<span class="coupon_status">
						{{DajiaGlobal.constants.coupon.status[user_coupon.status]}}
					</span>
				</div>
			</ion-item>
		</ion-list>
		<div ng-if="user_coupons.length <= 0">
			<div class="row">
				<div class="col text-center">
					您还没有可领取的优惠券哦, 敬请期待!
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<button class="button button-outline button-assertive" ng-click="goHome()">回首页</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
