<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台登录</a>
		</div>
	</div>
</nav>

<div class="container">
	<div>
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<form class="form-horizontal" id="signInForm" ng-submit="submit()">
		<div class="form-group">
			<label for="mobile" class="col-sm-5 control-label">用户手机</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="mobile" ng-model="login.mobile">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-5 control-label">登录密码</label>
			<div class="col-sm-2">
				<input type="password" class="form-control" id="password" ng-model="login.password">
			</div>
		</div>
					
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-5">
				<button type="submit" class="btn btn-primary">登录</button>
			</div>
		</div>
	</form>
</div>

