.container-fluid {
	width: 80%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th
	{
	vertical-align: middle;
}

.full button span {
	background-color: limegreen;
	border-radius: 32px;
	color: black;
}

.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}

.multi-row {
	margin-bottom: 10px;
}

.multi-row-input {
	float: left;
	width: 90%;
	margin-right: 10px;
}

.label-ember {
	color: orange;
}

.thumbnail {
	border: none;
}

.thumbnail>img {
	margin-left: 0;
	height: 200px;
	display: inline;
}