<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台</a>
		</div>
			<div class="navbar-collapse">
				<ul class="nav navbar-nav">
				<li><a href="#/products">产品</a></li>
				<li><a href="#/orders">订单</a></li>
				<li class="active"><a href="#/clients">用户</a></li>
				<li><a href="#/sales">推广</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="input-group">
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="button" ng-click="loadPage(1);">搜索</button>
	    </span>
	    <input type="text" class="form-control" ng-model="keyword.value" placeholder="输入用户名">
    </div>
    <p></p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th data-field="id">ID</th>
				<th data-field="userName">用户名</th>
				<th data-field="mobile">手机</th>
				<th data-field="email">邮箱</th>
				<th data-field="lastVisitDate">上次登录时间</th>
				<th data-field="lastVisitIP">上次登录IP</th>
				<th data-field="createdDate">注册日期</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.userId}}</td>
				<td><a href ng-click="editUser(user.userId);">{{user.userName}}</a></td>
				<td>{{user.mobile}}</td>
				<td>{{user.email}}</td>
				<td>{{user.lastVisitDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.lastVisitIP}}</td>
				<td>{{user.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td><button type="button" class="btn btn-primary btn-sm"
						ng-click="editUser(user.userId);">编辑</button>
				</td>
			</tr>
		</tbody>
	</table>
	<nav>
		<ul class="pagination">
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasPrev]"><a href ng-click="loadPage(pager.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			
			<li ng-class="{true: 'active', false: ''}[pager.currentPage==n]" ng-repeat="n in pager.pageRange"><a href ng-click="loadPage(n)">{{n}}</a></li>
			
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasNext]"><a href ng-click="loadPage(pager.currentPage+1)" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</div>