<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
			<ul class="nav navbar-nav">
				<li><a href="#/products">产品</a></li>
				<li class="active"><a href="#/orders">订单</a></li>
				<li><a href="#/clients">客户</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div>
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>

	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">订单编号</label>
			<div class="col-sm-8">
				<input readonly type="text" class="form-control" id="name" ng-model="order.trackingId">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">订单状态</label>
			<div class="col-sm-8">
				<input readonly type="text" class="form-control" id="name" ng-model="order.orderStatus4Show">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">付款方式</label>
			<div class="col-sm-8">
				<input readonly type="text" class="form-control" id="name" ng-model="order.payType4Show">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">买家</label>
			<div class="col-sm-8">
				<input readonly type="text" class="form-control" id="name" ng-model="order.userName">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">收货信息</label>
			<div class="col-sm-8">
			    <p>收货人: {{order.contactName}}</p>
			    <p>手机: {{order.contactMobile}}</p>
			    <p>收货地址: {{order.address}}</p>
			    <p>备注: {{order.userComments}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">买家留言</label>
			<div class="col-sm-8">
				<textarea readonly class="form-control" rows="3" ng-model="order.userComments"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">备注</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="3" ng-model="order.comments"></textarea>
			</div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th data-field="productName">商品名称</th>
					<th data-field="unitPrice">单价</th>
					<th data-field="quantity">数量</th>
					<th data-field="totalPrice">小计</th>
					<th data-field="postFee">运费</th>
					<th data-field="expiredDate">到期时间</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>{{order.product.name}}</td>
					<td>￥{{order.unitPrice}}</td>
					<td>{{order.quantity}}</td>
					<td>￥{{order.totalPrice}}</td>
					<td>￥{{order.postFee}}</td>
					<td>{{order.product.expiredDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
		
		<table class="table table-bordered" ng-if="order.refundList!=null&&order.refundList.length>0">
			<thead>
				<tr>
					<th data-field="refundValue">退款金额</th>
					<th data-field="refundType">退款类型</th>
					<th data-field="refundDate">退款时间</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="refund in order.refundList">
					<td>￥{{refund.refundValue}}</td>
					<td>{{refund.refundType4Show}}</td>
					<td>{{refund.refundDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
		
		<div class="form-group">
			<label for="brief" class="col-sm-2 control-label">快递公司</label>
			<div class="col-sm-8">
				<select ng-model="order.logisticAgent" ng-options="la.code as la.name for la in logisticAgents" >
			    	<option value="">选择</option>
			    </select>
			</div>
		</div>
		<div class="form-group">
			<label for="brief" class="col-sm-2 control-label">快递单号</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="brief" ng-model="order.logisticTrackingId">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" ng-disabled="order.orderStatus!=2" ng-click="deliverOrder(order.orderId)">发货</button>
				<button class="btn btn-primary" ng-disabled="order.orderStatus!=3" ng-click="finishOrder(order.orderId)">已签收</button>
				<button class="btn btn-primary" ng-click="addComments(order.orderId)">添加备注</button>
				<button class="btn btn-primary" ng-click="closeOrder(order.orderId)">关闭订单</button>
				<a class="btn btn-default" href="#/orders" role="button">返回</a>
			</div>
		</div>
	</form>
</div>
