<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台</a>
		</div>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/products">产品</a></li>
				<li class="active"><a href="#/orders">订单</a></li>
				<li><a href="#/clients">用户</a></li>
				<li><a href="#/sales">推广</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="btn-group">
		        <label class="btn btn-default" ng-model="orderFilter.type" uib-btn-radio="'all'" ng-click="loadPage(1)">全部订单</label>
		        <label class="btn btn-default" ng-model="orderFilter.type" uib-btn-radio="'real'" ng-click="loadPage(1)">排除机器订单</label>
		    </div>
		</div>
		<div class="col-sm-4">
			<div class="btn-group">
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="-1" ng-click="loadPage(1)">全部订单</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="2" ng-click="loadPage(1)">待发货</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="3" ng-click="loadPage(1)">已发货</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="4" ng-click="loadPage(1)">已签收</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="5" ng-click="loadPage(1)">已关闭</label>
		    </div>
		</div>
	</div>

    <p></p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th data-field="orderId">ID</th>
				<th data-field="trackingId">订单编号</th>
				<th data-field="productDesc">产品名</th>
				<th data-field="quantity">购买数量</th>
				<th data-field="unitPrice">购买单价</th>
				<th data-field="postFee">邮费</th>
				<th data-field="totalPrice">购买总价</th>
				<th data-field="userInfo4Show">用户</th>
				<th data-field="orderStatus4Show">订单状态</th>
				<th data-field="orderDate">购买时间</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="order in orders">
				<td>{{order.orderId}}</td>
				<td><a href  ng-click="viewOrder(order.orderId);">{{order.trackingId}}</a></td>
				<td>{{order.productDesc}}</td>
				<td ng-if="order.quantity!=null">{{order.quantity}}</td>
				<td ng-if="order.quantity==null">N/A</td>
				<td ng-if="order.unitPrice!=null">￥{{order.unitPrice}}</td>
				<td ng-if="order.unitPrice==null">N/A</td>
				<td>￥{{order.postFee}}</td>
				<td>￥{{order.totalPrice}}</td>
				<td>{{order.userName}}</td>
				<td><span ng-class="{true: 'label-ember'}[order.orderStatus==2]">{{order.orderStatus4Show}}</span></td>
				<td>{{order.orderDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td><button type="button" class="btn btn-primary btn-sm" ng-if="order.userId!=0" ng-click="viewOrder(order.orderId);">处理</button>
				</td>
			</tr>
		</tbody>
	</table>
	<nav>
		<ul class="pagination">
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasPrev]"><a href ng-click="loadPage(pager.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			
			<li ng-class="{true: 'active', false: ''}[pager.currentPage==n]" ng-repeat="n in pager.pageRange"><a href ng-click="loadPage(n)">{{n}}</a></li>
			
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasNext]"><a href ng-click="loadPage(pager.currentPage+1)" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</div>