<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
			<ul class="nav navbar-nav">
			<li><a href="#/products">产品</a></li>
			<li class="active"><a href="#">订单</a></li>
			<li><a href="#/clients">客户</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th data-field="orderId">ID</th>
				<th data-field="productInfo4Show">产品名</th>
				<th data-field="quantity">购买数量</th>
				<th data-field="unitPrice">购买单价</th>
				<th data-field="totalPrice">购买总价</th>
				<th data-field="userInfo4Show">用户</th>
				<th data-field="orderStatus4Show">订单状态</th>
				<th data-field="orderDate">购买时间</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="order in orders">
				<td>{{order.orderId}}</td>
				<td>{{order.productInfo4Show}}</td>
				<td>{{order.quantity}}</td>
				<td>￥{{order.unitPrice}}</td>
				<td>￥{{order.totalPrice}}</td>
				<td>{{order.userInfo4Show}}</td>
				<td>{{order.orderStatus4Show}}</td>
				<td>{{order.orderDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td><button type="button" class="btn btn-primary btn-sm"
						ng-click="editUser(user.userId);">编辑</button>
				</td>
			</tr>
		</tbody>
	</table>
	<nav>
		<ul class="pagination">
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasPrev]"><a href ng-click="loadPage(pager.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			
			<li ng-class="{true: 'active', false: ''}[pager.currentPage==n]" ng-repeat="n in pager.pageRange"><a href ng-click="loadPage(n)">{{n}}</a></li>
			
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasNext]"><a href ng-click="loadPage(pager.currentPage+1)" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</div>