<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/products">产品</a></li>
				<li><a href="#/orders">订单</a></li>
				<li><a href="#/clients">客户</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="ol-sm-12" ng-if="syncBtnTxt">
		<button type="button" class="btn btn-primary" ng-click="sync();">{{syncBtnTxt}}</button>
		<button type="button" class="btn btn-primary" ng-click="addProduct();">新增产品</button>
	</div>
	<p></p>
	<div>
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th data-field="id">ID</th>
				<th data-field="name">产品</th>
				<th data-field="currentPrice">当前价格</th>
				<th data-field="stock">库存</th>
				<th data-field="sold">销量</th>
				<th data-field="startDate">起始时间</th>
				<th data-field="expiredDate">过期时间</th>
				<th data-field="productStatus">产品状态</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="product in products">
				<td>{{product.product.productId}}</td>
				<td width="300px">{{ product.product.name}} </td>
				<td>￥{{product.currentPrice}}</td>
				<td>{{product.stock}}</td>
				<td>{{product.sold}}</td>
				<td>{{product.startDate | date:'yyyy-MM-dd HH:mm'}}</td>
				<td>{{product.expiredDate | date:'yyyy-MM-dd HH:mm'}}</td>
				<td>{{product.status4Show}}</td>
				<td><button type="button" class="btn btn-primary btn-sm" ng-click="editProduct(product.product.productId);">编辑</button>
					<button type="button" class="btn btn-primary btn-sm" ng-confirm-click="确定要删除该产品吗?" confirmed-click="delProduct(product.product.productId);">删除</button>
					<button type="button" class="btn btn-primary btn-sm" ng-disabled="product.productStatus!=2" ng-click="bot(product.product.productId);">BOT+1</button></td>
			</tr>
		</tbody>
	</table>
	<nav>
		<ul class="pagination">
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasPrev]"><a href ng-click="loadPage(pager.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			
			<li ng-class="{true: 'active', false: ''}[pager.currentPage==n]" ng-repeat="n in pager.pageRange"><a href ng-click="loadPage(n)">{{n}}</a></li>
			
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasNext]"><a href ng-click="loadPage(pager.currentPage+1)" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</div>

