<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台</a>
		</div>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/products">产品</a></li>
				<li><a href="#/orders">订单</a></li>
				<li><a href="#/clients">客户</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div>
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<form class="form-horizontal" id="productForm" ng-submit="submit()">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">产品名*</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name" ng-model="product.name" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">产品简称* (用于分享产品时显示)</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="shortName" ng-model="product.shortName" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="brief" class="col-sm-2 control-label">产品描述</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="brief" placeholder="对产品的简单描述"
					ng-model="product.brief">
			</div>
		</div>
		<div flow-init>
			<div class="form-group">
				<label for="brief" class="col-sm-2 control-label">首页图片</label>
				<div class="col-sm-10">
				    <div class="thumbnail" ng-hide="homeImgUploader.files.length">
				      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
				    </div>
				    <div class="thumbnail" ng-show="homeImgUploader.files.length">
				      <img flow-img="homeImgUploader.files[0]" />
				    </div>
				    <div>
				      <a class="btn btn-default" ng-hide="homeImgUploader.files.length" flow-btn flow-attrs="{accept:'image/*'}">选择</a>
				      <a class="btn btn-default" ng-show="homeImgUploader.files.length" flow-btn flow-attrs="{accept:'image/*'}">更改</a>
				      <a class="btn btn-danger" ng-show="homeImgUploader.files.length" ng-click="homeImgUploader.files[0].cancel()">删除</a>
				    </div>
				</div>
			</div>
			<div class="form-group">
				<label for="brief" class="col-sm-2 control-label">其他产品图片</label>
				<div class="col-sm-10">
					
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="buyQuota" class="col-sm-2 control-label">购买限制</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="buyQuota" placeholder="一个用户最多购买几件，留空为无限制" ng-model="product.buyQuota">
			</div>
		</div>
		<div class="form-group">
			<label for="stock" class="col-sm-2 control-label">库存*</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="stock" placeholder="库存数量" ng-model="product.stock" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="sold" class="col-sm-2 control-label">销量</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="sold" ng-model="product.sold" readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="startDate" class="col-sm-2 control-label">开始日期*</label>
			<div class="col-sm-10">
				<input type="datetime-local" class="form-control" id="startDate" ng-model="product.startDate" uib-datepicker-popup ng-required="true" />
			</div>
		</div>
		<div class="form-group">
			<label for="expiredDate" class="col-sm-2 control-label">截止日期*</label>
			<div class="col-sm-10">
				<input type="datetime-local" class="form-control" id="expiredDate" ng-model="product.expiredDate" uib-datepicker-popup ng-required="true" />
			</div>
		</div>
		<div class="form-group">
			<label for="postFee" class="col-sm-2 control-label">运费*</label>
			<div class="col-sm-10">
				<div class="input-group">
					<div class="input-group-addon">￥</div>
					<number-only-input id="postFee" input-value="product.postFee" ng-required="true"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="currentPrice" class="col-sm-2 control-label">当前价格</label>
			<div class="col-sm-10">
				<div class="input-group">
					<div class="input-group-addon">￥</div>
					<input type="number" class="form-control" id="currentPrice" ng-model="product.currentPrice"
						readonly>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="originalPrice" class="col-sm-2 control-label">原始价格*</label>
			<div class="col-sm-10">
				<div class="input-group">
					<div class="input-group-addon">￥</div>
					<number-only-input id="originalPrice" input-value="product.originalPrice" ng-required="true"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="currentPrice" class="col-sm-2 control-label">价格变化规则</label>
			<div class="col-sm-10">
				<div class="multi-row" ng-repeat="price in product.prices">
					<div class="input-group multi-row-input">
						<input type="number" class="form-control" ng-model="price.sold">
						<div class="input-group-addon">￥</div>
						<number-only-input id="originalPrice" placeholder="目标价格" input-value="price.targetPrice"/>
					</div>
					<div>
						<button type="button" class="btn btn-default" ng-click="removePrice(price.priceId);">删除</button>
					</div>
				</div>
				<div class="input-group multi-row-input">
					<input type="number" class="form-control" placeholder="销售数量" ng-model="newSold">
					<div class="input-group-addon">￥</div>
					<number-only-input id="originalPrice" placeholder="目标价格" input-value="newPrice"/>
				</div>
				<div>
					<button type="button" class="btn btn-default" ng-click="addPrice();">添加</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="currentPrice" class="col-sm-2 control-label">产品状态</label>
			<div class="col-sm-10">
				<label>
					<input type="radio" ng-model="product.productStatus" value="1">
					下架&nbsp;
				</label>
				<label>
					<input type="radio" ng-model="product.productStatus" value="2">
					上架&nbsp;
				</label>
			</div>
		</div>
					
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">提交修改</button>
				<button type="button" ng-if="product.productStatus==3" class="btn btn-primary" ng-click="republish();">开始新一轮打价</button>
				<a class="btn btn-default" href="#" role="button">返回</a>
				<button type="button" class="btn btn-default" ng-click="go2Kdt(product.refId);">修改产品图片和介绍</button>
			</div>
		</div>
	</form>
</div>
