<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">打价网管理后台</a>
		</div>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/products">产品</a></li>
				<li><a href="#/orders">订单</a></li>
				<li><a href="#/clients">用户</a></li>
				<li class="active"><a href="#/sales">推广</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th data-field="id">ID</th>
				<th data-field="userName">用户名</th>
				<th data-field="mobile">手机</th>
				<th data-field="refUserNum">本周推广用户数</th>
				<th data-field="refOrderNum">本周推广订单数</th>
				<th data-field="refAmount">本周推广业绩</th>
				<th data-field="bonusAmount">本周奖金</th>
				<th data-field="lastVisitDate">上次登录时间</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="sales in salesmen">
				<td>{{sales.userId}}</td>
				<td><a href ng-click="editUser(sales.userId);">{{sales.userName}}</a></td>
				<td>{{sales.mobile}}</td>
				<td>{{sales.refUserNumWTD}}</td>
				<td>{{sales.refOrderNumWTD}}</td>
				<td>{{sales.refAmountWTD.toFixed(2)}}元</td>
				<td>{{sales.bonusAmountWTD.toFixed(2)}}元</td>
				<td>{{sales.lastVisitDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td><button type="button" class="btn btn-primary btn-sm"
						ng-click="editUser(user.userId);">编辑</button>
				</td>
			</tr>
		</tbody>
	</table>
	<nav>
		<ul class="pagination">
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasPrev]"><a href ng-click="loadPage(pager.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			
			<li ng-class="{true: 'active', false: ''}[pager.currentPage==n]" ng-repeat="n in pager.pageRange"><a href ng-click="loadPage(n)">{{n}}</a></li>
			
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasNext]"><a href ng-click="loadPage(pager.currentPage+1)" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</div>